<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
        <title>Recipe Finder | Add Recipe</title>
        <link rel="stylesheet" href="/css/homePageStyle.css">
        <link rel="stylesheet" href="/css/addUpdateStyle.css">
</head>

<body>
    <%- include("partials/navbar.ejs") %>
    <div class="main">
    

    <form action="/addRecipe" method="POST">
        <h1>Add Your Recipe</h1>
        <label>Recipe Name:</label>
        <input type="text" name="recipeName" required>

        <br><br>

        <label>Category:</label>
        <input type="text" name="category" required>

        <br><br>

        <label>Area / Country:</label>
        <input type="text" name="area" required>

        <br><br>

        <label>Image URL:</label>
        <input type="text" name="imageUrl" required>

        <br><br>


        <label>Instructions:</label>
        <textarea name="instructions" required></textarea>

        <br><br>

        <label>Ingredients:</label>
        <p>Enter one ingredient per line using this format: Measure | Ingredient</p>
        <textarea name="ingredients" required></textarea>

        <br><br>

        <button type="submit">Add Recipe</button>
    </form>
    </div>
     <%- include("partials/footer.ejs") %>
</body>
</html>