<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Population</title>
</head>
<body>
    <h1>IF YOU FOUND THIS IN THE FINAL SUBMISSION, PLEASE NAVIGATE AWAY</h1>
    <h1>Populate Recipe Database</h1>

  <button id="populateBtn">Populate Database</button>

  <p id="status"></p>

  <script src="/js/populate.js"></script>
</body>
</html>