body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f8f4;
    color: #1f1f1f;
}

.topbar {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.logo {
    height:120px;
    width: 120px;
}

.navLinks {
    display: flex;
    gap: 28px;
}

.navLinks a {
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 4px;
    text-decoration: none;
}

.navLinks a.active {
    color: #7b972c;
    border-bottom: 3px solid #7b972c;
}

.topbarRight {
    display: flex;
    align-items: center;
    gap: 22px;
}


.searchBox {
    width: 70%;
    height: 45px;
    border: 1px solid #ddd8cf;
    border-radius: 12px;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
    background: #fff;
    transition: 0.2s;
}

.profile {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 1rem;
    font-weight: 600;
}

.profileImg {
    color: #6f8d2f;
    font-size: 2rem;
}
